<div class="container admin">
  <div class="navbar navbar-fixed-top navbar-inverse" id="masthead">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"> Motb </a>
        <ul class="nav pull-right">
          <li> <a> Logout </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3" id="admin-menu">
      <div class="leftbar">
        <ul class="nav nav-list"> 
          <li class="nav-header"> Admin Menu </li>
          <li class="active" id="dashboard"><a href="admin"> Dashboard </a></li>
          <li class="divider"></li>
          <li class="" id="posts"><a href="admin/posts"> Posts </a></li>
          <li class="" id="photos"><a href="admin/photos"> Photos </a></li>
          <li class="divider"> </li>
          <li class="" id="setting"><a href="admin/settings"> Settings </a></li>
        </ul>
      </div>
    </div>
    <div class="span9 main" id="main">
      <h3> 本功能还没有实现哦 </h3>
    </div>
  </div>
</div>
