/* Admin stylesheet */

@import "globals/helpers";

body.admin {
  padding-top: 45px;
}

body.admin-login {
  background-color: $panel-color;
}

.post-edit {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}

.leftbar {
  margin-right: 5px;
  margin-top: 40px;
  font-size: 15px;
  border: 1px solid #e5e5e5;
  background-color: $panel-color;
  @include rounded(5px);

  li {
    line-height: 25px;
  }
  ul {
    padding-bottom: 5px;
  }
}

.admin-login-form {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 150px auto 0px;
  border: 1px solid #e5e5e5;
  background-color: white;
  @include rounded(5px);

  & > input {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

