<% _.each(postslist, function(entry){ %>
  <div class="row-fluid articleItem"> 
    <div class="span11 offset1">
      <h4> 
        <% if ((new Date()).getTime() - entry.time < 24 * 3600 * 1000) {%>
          <span class="label label-info">New</span>
        <% } %>
        <a href="" data-Bypass class="motb-blog-selectpost"><%= entry.name %></a>
        <small><%= entry.date %></small>
      </h4>
    </div>
  </div>
<% });%>

<div class="pagination text-center">
  <ul>
    <li class="disable"> <a href="#">&laquo;</a></li>
    <li class="active"> <a>1</a></li>
    <li> <a>2</a></li>
    <li class="disable"> <a>&raquo;</a></li>
  </ul>
</div>
