<div class="container">
  <form class="motb-adminlogin-form"> 
    <h2 style="margin-top: 10px;"> Please sign in</h2>
    <input type="text" id="motb-adminlogin-inputUsername" class="input-block-level" placeholder="Username">
    <input type="password" id="motb-adminlogin-inputPassword" class="input-block-level" placeholder="Password">
    <!--<label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>-->
    <button class="btn btn-large btn-primary" id="motb-adminlogin-loginButton" type="submit">Sign in</button>
  </form>
</div>
