<div class="container">
  <form class="admin-login-form"> 
    <h3 style="padding: 3px"> Motb Admin System</h3>
    <input type="text" class="input-block-level" id="username" placeholder="Username">
    <input type="password" class="input-block-level" id="password" placeholder="Password">
    <!--<label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>-->
    <button class="btn btn-large btn-primary" id="login" type="submit">Sign in</button>
  </form>
</div>
